[submodule "moteur"]
	path = moteur
	url = https://code.google.com/p/jeukitue.moteur
[submodule "centralisateur"]
	path = centralisateur
	url = https://code.google.com/p/jeukitue.centralisateur
[submodule "maps"]
	path = maps
	url = https://code.google.com/p/jeukitue.maps
