[submodule "moteur"]
	path = moteur
	url = https://github.com/Shailla/jeukitue.moteur.git
[submodule "centralisateur"]
	path = centralisateur
	url = https://github.com/Shailla/jeukitue.centralisateur.git
[submodule "maps"]
	path = maps
	url = https://github.com/Shailla/jeukitue.maps.git

